:root {
    --bh: 15px;
    --jmuPurple: #450084;
    --jmuGold: #dfd2aa;
    --anim-list: background-color 0.2s, border-color 0.2s, color 0.2s, opacity 0.2s;
}

.animate {
    -webkit-transition: var(--anim-list);
    -moz-transition: var(--anim-list);
    -o-transition: var(--anim-list);
    transition: var(--anim-list);
    transition-timing-function: linear;
}

.bg-purple {
    background-color: var(--jmuPurple);
}

header img {
    max-height: 45px;
    max-width: 100%;
}

.nav {
    background: var(--jmuGold);
}

.nav-link {
    color: var(--jmuPurple);
}

.active {
    background: #5313;
}

main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    max-width: 1200px;
}

.card-header {
    font-weight: 600;
    font-size: 30px;
}

.btn-purple {
    background-color: var(--jmuPurple);
}

.btn-purple:hover {
    background-color: var(--jmuPurple);
    opacity: 0.8;
}

.text-purple {
    color: var(--jmuPurple);
}
.text-gold {
    color: var(--jmuGold);
}